{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-md-6">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="card card-body">
            <h5 class="card-title">Registrar datos de echo es_padre(x,y)</h5>
            <form action="{{url_for('add_padre')}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="padre" placeholder="Nombre del padre">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="hijo" placeholder="Nombre del hijo">
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
            </form>
        </div>
    </div>
    <div class="col-md-6">

        <h5 class="text-md">Lista de hechos registrados</h5>
        {{ data }}
    </div>
</div>
</div>

{% endblock %}